<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sree.myparty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ParticularChat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SliderIndicator.IntroActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistartionActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP_Activity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoard.BaseActvity"
            android:label="@string/title_activity_base_actvity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashBoard.Dashboard"
            android:label="@string/title_activity_base_actvity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.UserListActicity"
            android:label="Chats"
            android:parentActivityName=".DashBoard.Dashboard"
            android:screenOrientation="portrait" />

        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".volunteer.VolunteerLogin"
            android:parentActivityName=".DashBoard.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".volunteer.VolunteerRegis"
            android:parentActivityName=".DashBoard.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".misc.NewsList"
            android:label="News"
            android:parentActivityName=".DashBoard.Dashboard" />
        <activity
            android:name=".admin.AdminLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".volunteer.VolunteerDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".volunteer.InfluencePerson"
            android:parentActivityName=".DashBoard.BaseActvity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".volunteer.Local_Issues"
            android:parentActivityName=".DashBoard.BaseActvity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".volunteer.CasteWiseVoters"
            android:label="ADD VOTER"
            android:parentActivityName=".volunteer.VolunteerDashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".misc.PostNews"
            android:label="Post News"
            android:parentActivityName=".volunteer.VolunteerDashboard"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAcGa6rAwCaFAroV4xp4q4SJGX_EfWw8L8" />

        <activity
            android:name=".DashBoard.ProfileScreen"
            android:label="ID CARD"
            android:parentActivityName=".DashBoard.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminMap"
            android:label="@string/title_activity_admin_map"
            android:parentActivityName=".admin.AdminDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".admin.AdminDashboard"
            android:label="MY PARTY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.VisitActivity"
            android:label="VISIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.MeetingAttendence"
            android:label="Meeting Attendance"
            android:parentActivityName=".admin.MeetingsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.VolunteerList"
            android:label="@string/title_volunteer_list"
            android:parentActivityName=".admin.AdminDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.VolunteerProfile"
            android:label="Volunteer Profile"
            android:parentActivityName=".admin.VolunteerList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".admin.MeetingsActivity"
            android:label="MEETINGS"
            android:parentActivityName=".admin.MeetingsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".admin.MeetingsListActivity"
            android:label="Meetings List"
            android:parentActivityName=".admin.AdminDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.VisitsListActivity"
            android:label="@string/visit_list"
            android:parentActivityName=".admin.AdminDashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".admin.WorkDoneActivity"
            android:label="@string/add_work"
            android:parentActivityName=".admin.WorksListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".admin.WorksListActivity"
            android:label="@string/work_list"
            android:parentActivityName=".admin.AdminDashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".chat.VideoCallActivity" />
        <activity
            android:name=".survey.CreateSurvey"
            android:label="@string/create_survey"
            android:parentActivityName=".survey.SurveyAdminList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".survey.SurveyList"
            android:label="@string/surveyList"
            android:parentActivityName=".DashBoard.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".survey.SurveyAdminList"
            android:label="@string/surveyList"
            android:parentActivityName=".admin.AdminDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.VotesAnalysis"
            android:label="VOTES ANALYSIS"
            android:parentActivityName=".admin.AnalysisMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AnalysisMainActivity"
            android:label="ANALYSIS"
            android:parentActivityName=".admin.AdminDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AnalysisActivity"
            android:label="VOTERS ANALYSIS"
            android:parentActivityName=".admin.AnalysisMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.BoothCommitteList"
            android:label="Booth List"
            android:parentActivityName=".admin.AdminDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ParticularBooth"
            android:label="Booth"
            android:parentActivityName=".admin.BoothCommitteList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.PresentTrend"
            android:label="Present Trend"
            android:parentActivityName=".admin.AnalysisMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.BoothWiseVoterAnalysis"
            android:label="Boothwise Voters"
            android:parentActivityName=".admin.BoothList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.BoothWiseVotesAnalysis"
            android:label="Present Trend"
            android:parentActivityName=".admin.PresentTrend"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.BoothList"
            android:label="Present Trend"
            android:parentActivityName=".admin.AnalysisMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminBaseActivity"
            android:label="@string/title_activity_admin_base"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".volunteer.VolunteerBaseActivity"
            android:label="@string/title_activity_volunteer_base"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.BoothCommitteeMap"
            android:parentActivityName=".DashBoard.BaseActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".volunteer.NewsAcceptList"
            android:parentActivityName=".volunteer.VolunteerDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoard.VideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".volunteer.VolunteerNewsList"
            android:parentActivityName=".volunteer.VolunteerDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.BoothwiseList"
            android:parentActivityName=".admin.AdminDashboard"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>